# **First Few Steps**

For the first step, we import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime
import matplotlib.pyplot as plt
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from sklearn.preprocessing import OneHotEncoder

Then, we import the dataset into this noteboook

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv("drive/My Drive/Bakery Transaction Dataset/Group 3 AoL Dataset.csv")
df.head()

         Date      Time  Transaction           Item
0  2016-10-30  09:58:11            1          Bread
1  2016-10-30  10:05:34            2   Scandinavian
2  2016-10-30  10:05:34            2   Scandinavian
3  2016-10-30  10:07:57            3  Hot chocolate
4  2016-10-30  10:07:57            3            Jam

# **Data Exploration + Preprocessing**

In [ ]:
df['Item'] = df['Item'].str.lower()
df.head()

         Date      Time  Transaction           Item
0  2016-10-30  09:58:11            1          bread
1  2016-10-30  10:05:34            2   scandinavian
2  2016-10-30  10:05:34            2   scandinavian
3  2016-10-30  10:07:57            3  hot chocolate
4  2016-10-30  10:07:57            3            jam

To begin, let's see how many different items are sold in the bakery.

In [ ]:
len(df['Item'].unique())

95

There are **95** unique items that are sold in the bakery shop

In [ ]:
pd.set_option('display.max_rows', 100)
print(df['Item'].value_counts())
pd.reset_option('display.max_rows')

coffee                           5471
bread                            3325
tea                              1435
cake                             1025
pastry                            856
none                              786
sandwich                          771
medialuna                         616
hot chocolate                     590
cookies                           540
brownie                           379
farm house                        374
muffin                            370
juice                             369
alfajores                         369
soup                              342
scone                             327
toast                             318
scandinavian                      277
truffles                          193
coke                              185
spanish brunch                    172
fudge                             159
baguette                          152
jam                               149
tiffin                            146
mineral water                     136
jammie dodgers                    125
chicken stew                      123
hearty & seasonal                 107
salad                              99
frittata                           81
smoothies                          77
keeping it local                   63
the nomad                          58
focaccia                           54
vegan mincepie                     54
bakewell                           48
tartine                            47
afternoon with the baker           44
extra salami or feta               38
art tray                           38
eggs                               28
granola                            28
tshirt                             21
my-5 fruit shoot                   18
ella's kitchen pouches             17
vegan feast                        16
crisps                             14
dulce de leche                     13
valentine's card                   13
kids biscuit                       12
duck egg                           12
pick and mix bowls                 12
christmas common                   11
tacos/fajita                       11
mighty protein                     11
chocolates                         10
postcard                           10
gingerbread syrup                   9
muesli                              8
nomad bag                           8
drinking chocolate spoons           8
coffee granules                     7
victorian sponge                    7
empanadas                           7
argentina night                     7
crepes                              6
honey                               6
pintxos                             6
lemon and coconut                   6
basket                              6
half slice monster                  6
bare popcorn                        5
panatone                            5
mortimer                            5
bread pudding                       4
cherry me dried fruit               3
brioche and salami                  3
caramel bites                       3
raspberry shortbread sandwich       3
fairy doors                         2
hack the stack                      2
bowl nic pitt                       2
chimichurri oil                     2
spread                              2
siblings                            2
gift voucher                        1
raw bars                            1
polenta                             1
chicken sand                        1
the bart                            1
adjustment                          1
olum & polenta                      1
bacon                               1
Name: Item, dtype: int64

We then see that there are invalid values in the dataset marked by "none". This indicates on the **cancellation** of buying a sold item. Due to that, we drop all of hte rows whose value of the 'Items' column is 'none'

In [ ]:
print(df.value_counts)

<bound method DataFrame.value_counts of              Date      Time  Transaction           Item
0      2016-10-30  09:58:11            1          bread
1      2016-10-30  10:05:34            2   scandinavian
2      2016-10-30  10:05:34            2   scandinavian
3      2016-10-30  10:07:57            3  hot chocolate
4      2016-10-30  10:07:57            3            jam
...           ...       ...          ...            ...
21288  2017-04-09  14:32:58         9682         coffee
21289  2017-04-09  14:32:58         9682            tea
21290  2017-04-09  14:57:06         9683         coffee
21291  2017-04-09  14:57:06         9683         pastry
21292  2017-04-09  15:04:24         9684      smoothies

[21293 rows x 4 columns]>

Now, we would like to see the **20** best and least selling items.

In [ ]:
print("The 20 Best Selling Items:")
print(df['Item'].value_counts().sort_values(ascending=False).head(20))
print("=================================================")
print("The 20 Least Selling Items:")
print(df['Item'].value_counts().sort_values(ascending=True).head(20))

The 20 Best Selling Items:
coffee           5471
bread            3325
tea              1435
cake             1025
pastry            856
none              786
sandwich          771
medialuna         616
hot chocolate     590
cookies           540
brownie           379
farm house        374
muffin            370
juice             369
alfajores         369
soup              342
scone             327
toast             318
scandinavian      277
truffles          193
Name: Item, dtype: int64
=================================================
The 20 Least Selling Items:
bacon                            1
gift voucher                     1
raw bars                         1
polenta                          1
olum & polenta                   1
the bart                         1
adjustment                       1
chicken sand                     1
siblings                         2
spread                           2
chimichurri oil                  2
bowl nic pitt                    2
hack the stack                   2
fairy doors                      2
cherry me dried fruit            3
caramel bites                    3
raspberry shortbread sandwich    3
brioche and salami               3
bread pudding                    4
mortimer                         5
Name: Item, dtype: int64

# **Running the Algorithm**

### **Data Preprocessing**

In [ ]:
df = df.drop(df[df['Item'] == 'none'].index)
print(df.value_counts)

<bound method DataFrame.value_counts of              Date      Time  Transaction           Item
0      2016-10-30  09:58:11            1          bread
1      2016-10-30  10:05:34            2   scandinavian
2      2016-10-30  10:05:34            2   scandinavian
3      2016-10-30  10:07:57            3  hot chocolate
4      2016-10-30  10:07:57            3            jam
...           ...       ...          ...            ...
21288  2017-04-09  14:32:58         9682         coffee
21289  2017-04-09  14:32:58         9682            tea
21290  2017-04-09  14:57:06         9683         coffee
21291  2017-04-09  14:57:06         9683         pastry
21292  2017-04-09  15:04:24         9684      smoothies

[20507 rows x 4 columns]>

The original dataset has 21293 rows of transactions. The processed one has 20507 rows. There should also now be 1 less unique value in the 'Items' as every row that contains the value "none" in its 'Items' column is dropped.

As the 'Date' and 'Time' columns will not be used for the algorithm as each of the transactionns are already differentiated from each other by the "Transaction" column, let's just drop them.

In [ ]:
df.head()

         Date      Time  Transaction           Item
0  2016-10-30  09:58:11            1          bread
1  2016-10-30  10:05:34            2   scandinavian
2  2016-10-30  10:05:34            2   scandinavian
3  2016-10-30  10:07:57            3  hot chocolate
4  2016-10-30  10:07:57            3            jam

In [ ]:
df = df.drop('Date', axis = 1) 
df = df.drop('Time', axis = 1)

In [ ]:
df.head()

   Transaction           Item
0            1          bread
1            2   scandinavian
2            2   scandinavian
3            3  hot chocolate
4            3            jam

We then begin conducting the hot encoding process by counting the amount of each items that are sold in each transaction.

In [ ]:
sum_df = df.groupby(['Transaction', 'Item']).size().reset_index(name='counter')
sum_df.head()

   Transaction           Item  counter
0            1          bread        1
1            2   scandinavian        2
2            3        cookies        1
3            3  hot chocolate        1
4            3            jam        1

After that, we need to combine the results into a singular dataset where each row contains the details of one single transaction, that is not repeated in the next rows.

In [ ]:
final_df = sum_df.groupby(['Transaction', 'Item'])['counter'].sum().unstack().reset_index().fillna(0).set_index('Transaction')
final_df.head()

Item,adjustment,afternoon with the baker,alfajores,argentina night,art tray,bacon,baguette,bakewell,bare popcorn,basket,...,the bart,the nomad,tiffin,toast,truffles,tshirt,valentine's card,vegan feast,vegan mincepie,victorian sponge
Transaction,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Then, we need to make sure that the values in the now hot encoded 'Item' is only 0 or 1. The value '0' indicates that the item is **not bought** at that transaction, while the value '1' indicates that the item is **bought** at that transaction

In [ ]:
def encoding_function(a):
  if a <= 0:
    return 0
  else:
    return 1

final_df = final_df.applymap(encoding_function)
final_df.head()

Item,adjustment,afternoon with the baker,alfajores,argentina night,art tray,bacon,baguette,bakewell,bare popcorn,basket,...,the bart,the nomad,tiffin,toast,truffles,tshirt,valentine's card,vegan feast,vegan mincepie,victorian sponge
Transaction,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### **Applying the Apriori Model**

Now, let's find out the frequent itemsets using the Apriori Algorithm

In [ ]:
frequents = apriori(final_df, min_support = 0.005, use_colnames=True)

Then, let's generate the rules.

In [ ]:
pd.set_option('display.max_rows', 1000)
mined_rules = association_rules(frequents, metric='lift', min_threshold=1)
mined_rules.head(1000)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(alfajores),(coffee),0.036344,0.478394,0.019651,0.540698,1.130235,0.002264,1.135648
1,(coffee),(alfajores),0.478394,0.036344,0.019651,0.041078,1.130235,0.002264,1.004936
2,(tea),(alfajores),0.142631,0.036344,0.006762,0.047407,1.304393,0.001578,1.011614
3,(alfajores),(tea),0.036344,0.142631,0.006762,0.186047,1.304393,0.001578,1.053339
4,(jam),(bread),0.015003,0.327205,0.005071,0.338028,1.033076,0.000162,1.016349
5,(bread),(jam),0.327205,0.015003,0.005071,0.015499,1.033076,0.000162,1.000504
6,(bread),(pastry),0.327205,0.086107,0.029160,0.089119,1.034977,0.000985,1.003306
7,(pastry),(bread),0.086107,0.327205,0.029160,0.338650,1.034977,0.000985,1.017305
8,(brownie),(coffee),0.040042,0.478394,0.019651,0.490765,1.025860,0.000495,1.024293
9,(coffee),(brownie),0.478394,0.040042,0.019651,0.041078,1.025860,0.000495,1.001080
10,(tea),(brownie),0.142631,0.040042,0.006762,0.047407,1.183934,0.001050,1.007732
11,(brownie),(tea),0.040042,0.142631,0.006762,0.168865,1.183934,0.001050,1.031565
12,(cake),(coffee),0.103856,0.478394,0.054728,0.526958,1.101515,0.005044,1.102664
13,(coffee),(cake),0.478394,0.103856,0.054728,0.114399,1.101515,0.005044,1.011905
14,(cake),(cookies),0.103856,0.054411,0.007290,0.070193,1.290057,0.001639,1.016974
15,(cookies),(cake),0.054411,0.103856,0.007290,0.133981,1.290057,0.001639,1.034785
16,(hot chocolate),(cake),0.058320,0.103856,0.011410,0.195652,1.883874,0.005354,1.114125
17,(cake),(hot chocolate),0.103856,0.058320,0.011410,0.109868,1.883874,0.005354,1.057910
18,(cake),(juice),0.103856,0.038563,0.007079,0.068159,1.767458,0.003074,1.031760
19,(juice),(cake),0.038563,0.103856,0.007079,0.183562,1.767458,0.003074,1.097626
20,(cake),(tea),0.103856,0.142631,0.023772,0.228891,1.604781,0.008959,1.111865
21,(tea),(cake),0.142631,0.103856,0.023772,0.166667,1.604781,0.008959,1.075372
22,(cookies),(coffee),0.054411,0.478394,0.028209,0.518447,1.083723,0.002179,1.083174
23,(coffee),(cookies),0.478394,0.054411,0.028209,0.058966,1.083723,0.002179,1.004841
24,(hearty & seasonal),(coffee),0.010565,0.478394,0.005705,0.540000,1.128777,0.000651,1.133926
25,(coffee),(hearty & seasonal),0.478394,0.010565,0.005705,0.011926,1.128777,0.000651,1.001377
26,(hot chocolate),(coffee),0.058320,0.478394,0.029583,0.507246,1.060311,0.001683,1.058553
27,(coffee),(hot chocolate),0.478394,0.058320,0.029583,0.061837,1.060311,0.001683,1.003749
28,(jammie dodgers),(coffee),0.013207,0.478394,0.006656,0.504000,1.053525,0.000338,1.051625
29,(coffee),(jammie dodgers),0.478394,0.013207,0.006656,0.013913,1.053525,0.000338,1.000717
30,(juice),(coffee),0.038563,0.478394,0.020602,0.534247,1.116750,0.002154,1.119919
31,(coffee),(juice),0.478394,0.038563,0.020602,0.043065,1.116750,0.002154,1.004705
32,(keeping it local),(coffee),0.006656,0.478394,0.005388,0.809524,1.692169,0.002204,2.738431
33,(coffee),(keeping it local),0.478394,0.006656,0.005388,0.011263,1.692169,0.002204,1.004660
34,(coffee),(medialuna),0.478394,0.061807,0.035182,0.073542,1.189878,0.005614,1.012667
35,(medialuna),(coffee),0.061807,0.478394,0.035182,0.569231,1.189878,0.005614,1.210871
36,(muffin),(coffee),0.038457,0.478394,0.018806,0.489011,1.022193,0.000408,1.020777
37,(coffee),(muffin),0.478394,0.038457,0.018806,0.039311,1.022193,0.000408,1.000888
38,(coffee),(pastry),0.478394,0.086107,0.047544,0.099382,1.154168,0.006351,1.014740
39,(pastry),(coffee),0.086107,0.478394,0.047544,0.552147,1.154168,0.006351,1.164682
40,(salad),(coffee),0.010460,0.478394,0.006550,0.626263,1.309094,0.001547,1.395648
41,(coffee),(salad),0.478394,0.010460,0.006550,0.013693,1.309094,0.001547,1.003278
42,(sandwich),(coffee),0.071844,0.478394,0.038246,0.532353,1.112792,0.003877,1.115384
43,(coffee),(sandwich),0.478394,0.071844,0.038246,0.079947,1.112792,0.003877,1.008807
44,(scone),(coffee),0.034548,0.478394,0.018067,0.522936,1.093107,0.001539,1.093366
45,(coffee),(scone),0.478394,0.034548,0.018067,0.037765,1.093107,0.001539,1.003343
46,(spanish brunch),(coffee),0.018172,0.478394,0.010882,0.598837,1.251766,0.002189,1.300235
47,(coffee),(spanish brunch),0.478394,0.018172,0.010882,0.022747,1.251766,0.002189,1.004682
48,(tiffin),(coffee),0.015425,0.478394,0.008452,0.547945,1.145385,0.001073,1.153856
49,(coffee),(tiffin),0.478394,0.015425,0.008452,0.017668,1.145385,0.001073,1.002283
50,(toast),(coffee),0.033597,0.478394,0.023666,0.704403,1.472431,0.007593,1.764582
51,(coffee),(toast),0.478394,0.033597,0.023666,0.049470,1.472431,0.007593,1.016699
52,(coke),(sandwich),0.019440,0.071844,0.005177,0.266304,3.706722,0.003780,1.265043
53,(sandwich),(coke),0.071844,0.019440,0.005177,0.072059,3.706722,0.003780,1.056705
54,(hot chocolate),(cookies),0.058320,0.054411,0.006022,0.103261,1.897794,0.002849,1.054475
55,(cookies),(hot chocolate),0.054411,0.058320,0.006022,0.110680,1.897794,0.002849,1.058876
56,(juice),(cookies),0.038563,0.054411,0.006128,0.158904,2.920442,0.004030,1.124234
57,(cookies),(juice),0.054411,0.038563,0.006128,0.112621,2.920442,0.004030,1.083457
58,(tea),(cookies),0.142631,0.054411,0.009826,0.068889,1.266084,0.002065,1.015549
59,(cookies),(tea),0.054411,0.142631,0.009826,0.180583,1.266084,0.002065,1.046316
60,(hot chocolate),(pastry),0.058320,0.086107,0.005705,0.097826,1.136103,0.000683,1.012990
61,(pastry),(hot chocolate),0.086107,0.058320,0.005705,0.066258,1.136103,0.000683,1.008501
62,(juice),(sandwich),0.038563,0.071844,0.005811,0.150685,2.097401,0.003040,1.092829
63,(sandwich),(juice),0.071844,0.038563,0.005811,0.080882,2.097401,0.003040,1.046043
64,(tea),(juice),0.142631,0.038563,0.007184,0.050370,1.306180,0.001684,1.012434
65,(juice),(tea),0.038563,0.142631,0.007184,0.186301,1.306180,0.001684,1.053669
66,(medialuna),(pastry),0.061807,0.086107,0.009192,0.148718,1.727135,0.003870,1.073549
67,(pastry),(medialuna),0.086107,0.061807,0.009192,0.106748,1.727135,0.003870,1.050313
68,(tea),(muffin),0.142631,0.038457,0.006550,0.045926,1.194200,0.001065,1.007828
69,(muffin),(tea),0.038457,0.142631,0.006550,0.170330,1.194200,0.001065,1.033385
70,(sandwich),(soup),0.071844,0.034443,0.005494,0.076471,2.220227,0.003019,1.045508
71,(soup),(sandwich),0.034443,0.071844,0.005494,0.159509,2.220227,0.003019,1.104303
72,(tea),(sandwich),0.142631,0.071844,0.014369,0.100741,1.402222,0.004122,1.032134
73,(sandwich),(tea),0.071844,0.142631,0.014369,0.200000,1.402222,0.004122,1.071712
74,(tea),(scone),0.142631,0.034548,0.008347,0.058519,1.693816,0.003419,1.025460
75,(scone),(tea),0.034548,0.142631,0.008347,0.241590,1.693816,0.003419,1.130483
76,(tea),(soup),0.142631,0.034443,0.009086,0.063704,1.849557,0.004174,1.031252
77,(soup),(tea),0.034443,0.142631,0.009086,0.263804,1.849557,0.004174,1.164593
78,(toast),(tea),0.033597,0.142631,0.006445,0.191824,1.344899,0.001653,1.060869
79,(tea),(toast),0.142631,0.033597,0.006445,0.045185,1.344899,0.001653,1.012136
80,"(bread, coffee)",(cake),0.090016,0.103856,0.010037,0.111502,1.073621,0.000688,1.008606
81,(cake),"(bread, coffee)",0.103856,0.090016,0.010037,0.096643,1.073621,0.000688,1.007336
82,"(bread, coffee)",(cookies),0.090016,0.054411,0.005283,0.058685,1.078559,0.000385,1.004541
83,(cookies),"(bread, coffee)",0.054411,0.090016,0.005283,0.097087,1.078559,0.000385,1.007832
84,"(bread, coffee)",(hot chocolate),0.090016,0.058320,0.006128,0.068075,1.167266,0.000878,1.010468
85,(hot chocolate),"(bread, coffee)",0.058320,0.090016,0.006128,0.105072,1.167266,0.000878,1.016824
86,"(bread, coffee)",(medialuna),0.090016,0.061807,0.006762,0.075117,1.215361,0.001198,1.014392
87,(medialuna),"(bread, coffee)",0.061807,0.090016,0.006762,0.109402,1.215361,0.001198,1.021767
88,"(bread, coffee)",(pastry),0.090016,0.086107,0.011199,0.124413,1.444872,0.003448,1.043749
89,(pastry),"(bread, coffee)",0.086107,0.090016,0.011199,0.130061,1.444872,0.003448,1.046033
90,"(bread, coffee)",(sandwich),0.090016,0.071844,0.007184,0.079812,1.110915,0.000717,1.008660
91,(sandwich),"(bread, coffee)",0.071844,0.090016,0.007184,0.100000,1.110915,0.000717,1.011094
92,"(hot chocolate, cake)",(coffee),0.011410,0.478394,0.006867,0.601852,1.258067,0.001409,1.310080
93,"(hot chocolate, coffee)",(cake),0.029583,0.103856,0.006867,0.232143,2.235231,0.003795,1.167071
94,"(cake, coffee)",(hot chocolate),0.054728,0.058320,0.006867,0.125483,2.151618,0.003676,1.076800
95,(hot chocolate),"(cake, coffee)",0.058320,0.054728,0.006867,0.117754,2.151618,0.003676,1.071438
96,(cake),"(hot chocolate, coffee)",0.103856,0.029583,0.006867,0.066124,2.235231,0.003795,1.039129
97,(coffee),"(hot chocolate, cake)",0.478394,0.011410,0.006867,0.014355,1.258067,0.001409,1.002988
98,"(cake, coffee)",(tea),0.054728,0.142631,0.010037,0.183398,1.285822,0.002231,1.049923
99,"(tea, coffee)",(cake),0.049868,0.103856,0.010037,0.201271,1.937977,0.004858,1.121962
100,(cake),"(tea, coffee)",0.103856,0.049868,0.010037,0.096643,1.937977,0.004858,1.051779
101,(tea),"(cake, coffee)",0.142631,0.054728,0.010037,0.070370,1.285822,0.002231,1.016827
102,"(tea, coffee)",(sandwich),0.049868,0.071844,0.005388,0.108051,1.503972,0.001806,1.040593
103,(sandwich),"(tea, coffee)",0.071844,0.049868,0.005388,0.075000,1.503972,0.001806,1.027170

Now, let's say that we want to only display the rules that it is more likely to be correct. This means that the confidence score should be more than 50%, as it means that the rule will more likely be true than not.

In [ ]:
final_rules = mined_rules[(mined_rules['lift'] >= 1) & (mined_rules['confidence'] > 0.5)]
final_rules.sort_values('confidence', ascending = False, inplace = True)
final_rules.head(100).reset_index()

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,index,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,32,(keeping it local),(coffee),0.006656,0.478394,0.005388,0.809524,1.692169,0.002204,2.738431
1,50,(toast),(coffee),0.033597,0.478394,0.023666,0.704403,1.472431,0.007593,1.764582
2,40,(salad),(coffee),0.010460,0.478394,0.006550,0.626263,1.309094,0.001547,1.395648
3,92,"(hot chocolate, cake)",(coffee),0.011410,0.478394,0.006867,0.601852,1.258067,0.001409,1.310080
4,46,(spanish brunch),(coffee),0.018172,0.478394,0.010882,0.598837,1.251766,0.002189,1.300235
5,35,(medialuna),(coffee),0.061807,0.478394,0.035182,0.569231,1.189878,0.005614,1.210871
6,39,(pastry),(coffee),0.086107,0.478394,0.047544,0.552147,1.154168,0.006351,1.164682
7,48,(tiffin),(coffee),0.015425,0.478394,0.008452,0.547945,1.145385,0.001073,1.153856
8,0,(alfajores),(coffee),0.036344,0.478394,0.019651,0.540698,1.130235,0.002264,1.135648
9,24,(hearty & seasonal),(coffee),0.010565,0.478394,0.005705,0.540000,1.128777,0.000651,1.133926
10,30,(juice),(coffee),0.038563,0.478394,0.020602,0.534247,1.116750,0.002154,1.119919
11,42,(sandwich),(coffee),0.071844,0.478394,0.038246,0.532353,1.112792,0.003877,1.115384
12,12,(cake),(coffee),0.103856,0.478394,0.054728,0.526958,1.101515,0.005044,1.102664
13,44,(scone),(coffee),0.034548,0.478394,0.018067,0.522936,1.093107,0.001539,1.093366
14,22,(cookies),(coffee),0.054411,0.478394,0.028209,0.518447,1.083723,0.002179,1.083174
15,26,(hot chocolate),(coffee),0.058320,0.478394,0.029583,0.507246,1.060311,0.001683,1.058553
16,28,(jammie dodgers),(coffee),0.013207,0.478394,0.006656,0.504000,1.053525,0.000338,1.051625

# **Analysis of the Result**

From the results, we found that people usually buy coffee as the drink choice along as a companion to their foods.
Thus, we could say that it would be a good idea to create promotions that includes coffee in it. 

For example:
Buy 1 bread, get 1 free cup of coffee.